{% extends 'base-back.html.twig' %}

{% block title %}Section edit{% endblock %}

{% block body %}
<h1>Modifier {{ article.title }} </h1>

{{ form_start(form, {"attr": {"novalidate": "novalidate"}}) }}
<button class="btn btn-primary">Modifier</button>
{{ form_end(form) }}
{% endblock %}
