                    {# {% extends "base.html.twig" %} #}
                    
                    <div class="col-lg-4" data-aos="fade-right">
                            <img src="{{ asset('assets/img/profile-img.jpg') }}" class="img-fluid" alt="">
                        </div>
                        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                            <div class="row">
                                <div class="col-lg-6">
                                    <ul class="chevron">
                                        <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>40</span></li>
                                    </ul>
                                </div>
                                <div class="col-lg-6">
                                    <ul class="chevron">
                                        <li><i class="bi bi-chevron-right"></i> <strong>Ville:</strong> <span>Rennes</span></li>
                                    </ul>
                                </div>
                            </div>
                            
                                <div class="col-lg-12">
                                    <h3>Développeuse web</h3>
                                    <p>En formation de développeur web chez O'Clock - de juin à mi-novembre 2023 - je suis en spécialisation backend sur le framework Symfony.</p>
                                    <p>La formation m'a amenée à travailler sur plusieurs projets concrets comme un catalogue de produits type site de vente en ligne, ou des backoffices avec API et authentification. </p>
                                    
                                    <p>Le programme repose sur une formation de 6 mois:</p>
                                    <ul>
                                    <li>un socle de 3 mois sur les technologies et notions suivantes:</li>
                                        <ul>
                                        <li>HTML 5, CSS3, Javascript; </li>
                                        <li>PHP, SQL;</li>
                                        <li>Gestion de projet et agilité.</li>
                                        </ul>
                                    <li>1 mois de spécialisation sur Symfony</li>
                                    <li>1 mois de projet en équipe.</li>          
                                    </ul>
                                </div>
                            
                        </div>
                        