<div class="row">
    <div class="col-lg-12">
        <i class="bi bi-telephone"></i><a class="contact" href="tel:0662380414">06 62 38 04 14</a><br>
        <i class="bi bi-envelope"></i><a class="contact" href="mailto:matrouland@gmail.com">matrouland@gmail.com</a>
    </div>
</div>