{% extends "base.html.twig" %}
{% block title %}Portfolio Mathilde Rouland{% endblock %}
{% block body %}
<main id="main">
    {% for section in sections %}
        
            <section id="{{ section.cssClass }}" class="{{ section.cssClass }}">
                <div class="container">
                    <div class="section-title">
                        <h2>{{ section.name }}</h2>
                        <p>{{ section.content|raw }}</p>
                    </div>
                    <div class="row">
                    {% if section.cssClass == 'about' %}
                        {% include 'front/main/about.html.twig' %}
                    {% elseif section.cssClass == 'skills' %}
                        {% include 'front/main/skills.html.twig' %}
                    {% elseif section.cssClass == 'resume' %}
                        {% include 'front/main/resume.html.twig' %}
                    {% elseif section.cssClass == 'projects' %}
                        {% include 'front/main/projects.html.twig' %}
                    {% elseif section.cssClass == 'contact' %}
                        {% include 'front/main/contact.html.twig' %}
                    {% endif %}
                    </div>
                </div>
            </section>
        
            
        
    {% endfor %}
</main>
{% endblock %}

   