{% extends 'base-back.html.twig' %}

{% block title %}Section Add{% endblock %}

{% block body %}
<h1>Ajouter un articleCV/ articleProjectTechnos</h1>

{# todo détailler l'affichage du formulaire #}
{{ form_start(form, {"attr": {"novalidate": "novalidate"}}) }}
<button class="btn btn-primary">Ajouter</button>
{{ form_end(form) }}
{% endblock %}
